In [1]:
pip install -U finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.33-py3-none-any.whl (48 kB)
Requirement already satisfied: lxml in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from finance-datareader) (4.9.0)
Requirement already satisfied: requests>=2.3.0 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from finance-datareader) (2.27.1)
Requirement already satisfied: pandas>=0.19.2 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from finance-datareader) (1.4.0)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: tqdm in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.22.2)
Requirement already satisfied: six>=1.5 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.19.2->finance-datareader) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.11)
Requirement already satisfied: colorama in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from tqdm->finance-datareader) (0.4.4)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.33 requests-file-1.5.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\usn14\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import FinanceDataReader as fdr

In [3]:
# 한국거래소 상장종목 전체
df_krx = fdr.StockListing('KRX')
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [4]:
# 2021년~현재까지의 네이버 주가를 데이터 프레임으로 불러오기
df_naver = fdr.DataReader('035420', '2021')

# 가장 마지막(최신)의 10일치 주가 출력
df_naver.tail(10)

              Open    High     Low   Close  Volume    Change
Date
2022-06-02  290500  291000  284000  290000  608586  0.006944
2022-06-03  293500  294500  286000  287500  470483 -0.008621
2022-06-07  282500  284000  276000  278000  660801 -0.033043
2022-06-08  279500  280000  274500  278000  400681  0.000000
2022-06-09  275500  277500  269000  273000  753205 -0.017986
2022-06-10  269000  274500  268500  270000  497525 -0.010989
2022-06-13  262000  263000  254000  254000  928643 -0.059259
2022-06-14  246000  255500  245000  253000  731127 -0.003937
2022-06-15  250000  252000  241500  244500  751618 -0.033597
2022-06-16  249000  251000  239500  240000  729044 -0.018405

In [6]:
# KOSPI200, 2015년~현재
df_kospi200 = fdr.DataReader('KS200', '2015')

# 가장 마지막(최신)의 10일치 지수 출력
df_kospi200.tail(10)

             Close    Open    High     Low       Volume  Change
Date
2022-06-02  350.51  352.29  352.81  349.55  196090000.0 -0.0114
2022-06-03  352.01  353.47  353.93  351.10  134650000.0  0.0043
2022-06-07  345.67  350.04  350.53  345.02  135310000.0 -0.0180
2022-06-08  346.22  346.46  348.11  345.56  123300000.0  0.0016
2022-06-09  346.62  345.35  346.82  343.69  191390000.0  0.0012
2022-06-10  341.89  342.32  343.25  340.66  136210000.0 -0.0136
2022-06-13  329.88  335.76  335.97  329.88  163800000.0 -0.0351
2022-06-14  328.23  325.68  329.27  323.36  174250000.0 -0.0050
2022-06-15  322.21  327.70  328.30  320.29  159360000.0 -0.0183
2022-06-16  322.25  326.85  328.81  321.55     135340.0  0.0001